* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Loop', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav   main   main"
        "footer footer footer";
}

main {
    grid-area: main;
    background-color: #E9E0B7;
    /* height: auto;
    padding: 20px;
    display: inline;
    font-size: 2rem; */
}

main>h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 56px;
    text-align: center;
    text-decoration: none;
    align-content: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #4D2314;
    color: white;
}

.fa-envelope {
    background: #904110;
    color: white;
}

.fa-instagram {
    background: #e1ac7a;
    color: white;
}

.fa-linkedin {
    background: #919978;
    color: white;
}

.fa-github {
    background: #fd9333;
    color: white;
}