* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Loop', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav   main   main"
        "footer footer footer";
}

main {
    grid-area: main;
    background-color: #E9E0B7;
    height: auto;
    padding: 20px;
    /* display: inline; */
    font-size: 2rem;

}

.blogList>ul>li {
    list-style-type: disc;
}

.blogList>ul>li>a:hover {
    color: #919978;
}


@media screen and (min-width: 600px) {
    main {
        font-size: 3vw;
    }

    .mainImg {
        width: 30%;
    }
}