* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Loop', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    grid-area: main;
    background-color: #95654b;
    height: auto;
    padding: 25px;
    display: flex;
    /* font-size: 2rem; */
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

main>h1 {
    text-align: center;
    font-family: 'Homemade Apple';
    font-size: 2rem;
    width: 100%;
    line-height: 1.7;
}

.recipeCard {
    text-align: center;
    border: black solid 2px;
    height: fit-content;
    max-width: 150px;
    display: flex;
    /* padding: 5px; */
    /* line-height: 1.0; */
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #E9E0B7;
}

a.recipeCard {
    font-size: 1.5em;

}

a:hover.recipeCard {
    color: #95654b;
}

.recipeCard>a:hover {
    color: #95654b;
}

.recipeImg {
    max-height: 200px;
    padding: 5px;
}

.categoryList>li>a:hover {
    color: #E9E0B7;
}

.categoryList>li {
    font-size: 1.5em;
    font-weight: normal;

}

.categoryList>img {
    width: 50%;

}

.recipeCard>h4 {
    font-size: 1.5em;
    font-weight: normal;
}

@media screen and (min-width: 700px) {
    main>h1 {
        font-size: 5vw;
    }

    .categoryList>li {
        font-size: 4.5vw;
        font-weight: normal;

    }

    .categoryList>img {
        width: 50%;

    }

    .recipeCard>h4 {
        font-size: 3.5vw;
        font-weight: normal;
    }

    .recipeCard {
        text-align: center;
        border: black solid 2px;
        height: 250px;
        width: 200px;
        display: flex;
        padding: 5px;
        line-height: 1.0;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        background-color: #E9E0B7;
    }
}

@media screen and (min-width: 975px) {
    body {
        grid-template-columns: 15% 1fr 20%;
    }

    main>h1 {
        font-size: 4vw;

    }

    .categoryList>li {
        font-size: 3.5vw;
        font-weight: normal;

    }

    .categoryList>img {
        width: 50%;

    }

    a.recipeCard {
        /* text-transform: uppercase; */
        font-size: 2vw;
        font-weight: normal;
    }

    .recipeCard>h4 {
        font-size: 2.8vw;
        font-weight: normal;
    }

    .recipeCard {
        text-align: center;
        border: black solid 2px;
        height: 250px;
        width: 175px;
        display: flex;
        padding: 5px;
        line-height: 1.0;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        background-color: #E9E0B7;
    }
}



@media screen and (min-width: 1200px) {
    .recipeCard>a {
        /* text-transform: uppercase; */
        font-size: 2vw;
    }

    .recipeCard>h4 {
        font-size: 2vw;
        font-weight: normal;
    }

}

@media screen and (min-width: 1700px) {
    .recipeCard>a {
        /* text-transform: uppercase; */
        font-size: 1.75vw;
    }

    .recipeCard>h4 {
        font-size: 1.75vw;
        font-weight: normal;
    }

}