* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Loop', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}




body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav   main   aside"
        "footer footer footer";

    grid-template-columns: 15% 1fr 20%;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #919978;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;

}

.headerImg {
    width: 15%;
}

.logo {
    font-family: "Homemade Apple";
    font-size: 5vw;
}

.bottomText {
    text-transform: uppercase;
    font-size: 2vw;
    position: absolute;
    bottom: 0px;
    left: 10px;

}

.headerItem {
    padding: 10px;
}

.headerLogo {
    width: 15%;
}


footer {
    padding: 5px;
    grid-area: footer;
    background-color: #e1ac7a;
    font-size: .75em;



}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

footer>a:link,
footer>a:visited,
footer>a:hover,
footer>a:active,
footer>p {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

main {
    grid-area: main;
    background-color: #95654b;
    height: auto;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.categoryCard {
    text-align: center;
    border: black solid 2px;
    height: fit-content;
    display: flex;
    padding: 5px;
    line-height: 1.0;
    background-color: #E9E0B7;
}

.categoryCard>a {
    text-transform: uppercase;
    font-size: 3vw;
}

.categoryImg {
    height: 150px;
    padding: 5px;
}

aside {
    grid-area: aside;
    background-color: #904110;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    line-height: 1;
}

.weeklyMenu>li {
    font-size: 3.5vw;
    font-weight: normal;
    /* line-height: .75; */

}

.weeklyMenu>img {
    width: 50%;

}

nav {
    grid-area: nav;
    background-color: #4D2314;
    color: white;
    font-size: 3vw;
    padding: 20px;
    /* position: relative; */
    text-align: center;

}

.navBar>li>img {
    width: 60%;
}

.navBar>li>a:link,
.navBar>li>a:visited {
    color: antiquewhite;
}

.navBar>li>a:hover {
    background-color: antiquewhite;
    color: #4D2314;
}

li.dayofWeek {
    font-weight: bold;
    padding: 8px;
}

a.meal {
    color: antiquewhite;
    font-size: 2.5vw;
}

a.meal:hover {
    color: #919978;
    font-size: 2.8vw;
}